*.fmp*
*.log
*.dsn
*.dmp
*.crt
*.xls*
*.key
*reset.yml
**/log/
**/.*cache/
**/venv*/
**/.idea/
**/screenshots/
**/venv_*/
**/node_modules/
/urap_repl/
backup.reminder
/config/kiosk_local_config.yml
/.run/
/static/styles.css
**/__pycache__/
