/*_default.sass for arch1900 */
:root {
  --color-background: #ccc6b8;
  --color-background-light: #e0d9ca;
  --color-white: white;
  --color-black: #161616;
  --color-background-transparent: rgba(204, 198, 184, 0.8);
  --color-headline: rgb(213, 210, 101);
  --color-headline-shadow: #c6c0b2;
  --color-light-grey: rgb(220,220,220);
  --color-sand: #faf8d4;
  --color-sand-light: rgb(252, 250, 214);
  --color-reddish: #c00404;
  --color-error-bg: #9E2B25;
  --color-green: #8cb369;
  --col-bg-body: #fdfdfd /*off-white*/;
  --col-bg-body-lighter: #ffffff /*white*/;
  --col-bg-body-darker: #fafafa /*sea salt*/;
  --col-primary-bg-body: #353535 /* raisin black */;
  --col-accent-bg-body: #237AA9;
  --col-success-bg-body: #5CAD6C;
  --col-warning-bg-body: #FDC10D;
  --col-error-bg-body: #E03C00;
  --col-bg-body-dm: #202020 /*raisin black*/;
  --col-bg-body-lighter-dm: #242424;
  --col-bg-body-darker-dm: #1C1C1C;
  --col-primary-bg-body-dm: #ffffff;
  --col-accent-bg-body-dm: #56ADDC;
  --col-success-bg-body-dm: #3ACF5F;
  --col-warning-bg-body-dm: #FDC10D;
  --col-error-bg-body-dm: #E03C00;
  --col-bg-1-darker: #82a4b0;
  --col-bg-1: #B0C6CE;
  --col-bg-1-lighter: #cddbe0;
  --col-bg-1-input: #ffffff;
  --col-bg-1-button: #353535;
  --col-primary-bg-1: #353535;
  --col-accent-bg-1: white;
  --col-success-bg-1: #6DA34D;
  --col-warning-bg-1: #FF934F;
  --col-error-bg-1: #9E2B25;
  /*Secondary Background*/
  --col-bg-2-darker: #E4BA4E;
  --col-bg-2: #E9C46A;
  --col-bg-2-lighter: #EFd595;
  --col-bg-2-input: #ffffff /* white*/;
  --col-bg-2-button: #353535 /*Jet Black*/;
  --col-primary-bg-2: #353535;
  --col-accent-bg-2: white;
  --col-success-bg-2: #6DA34D;
  --col-warning-bg-2: #FF934F;
  --col-error-bg-2: #9E2B25;
  /*Ternary Background*/
  --col-bg-3-darker: #567c8a;
  --col-bg-3: #6892A1;
  --col-bg-3-lighter: #82a4b0;
  --col-bg-3-input: #ffffff;
  --col-bg-3-button: #353535;
  --col-primary-bg-3: white;
  --col-accent-bg-3: #FFD161;
  --col-success-bg-3: #6DA34D;
  --col-warning-bg-3: #FF934F;
  --col-error-bg-3: #9E2B25;
  /*Acknowledge Background*/
  --col-bg-ack-darker: #5c8b41;
  --col-bg-ack: #6DA34D;
  --col-bg-ack-lighter: #84b766;
  --col-primary-bg-ack: #252525;
  --col-accent-bg-ack: #f0f0f0;
  /*Attention Background*/
  --col-bg-att-darker: #FF8130;
  --col-bg-att: #FF934F;
  --col-bg-att-lighter: #FFB485;
  --col-primary-bg-att: #202020;
  --col-accent-bg-att: #7C6354;
  /*Alert Background*/
  --col-bg-alert-darker: #84241f;
  --col-bg-alert: #9E2B25;
  --col-bg-alert-lighter: #C6362f;
  --col-primary-bg-alert: #FFD161;
  --col-accent-bg-alert: #ffffff;
  /*Button Background*/
  --col-bg-btn-darker: #3d3129;
  --col-bg-btn: #7C6354;
  --col-bg-btn-lighter: #ac9486;
  --col-primary-bg-btn: white;
  --col-accent-bg-btn: #FFD161;
  /* #########################################
  * fonts and font sizes
  * ######################################### */
  --standard-text-font: "Noto Sans", sans-serif;
  --main-headline-text-font: "Ubuntu", monospace;
  --monospace-font: "Source Code Pro", monospace;
  --headline-text-font: "Noto Sans", sans-serif;
  --button-text-font: "Noto Sans", sans-serif;
  --font-size-h1: 2.827rem /*is like 44,198px*/;
  --font-size-h2: 1.999rem /*is like 33.166px*/;
  --font-size-h3: 1.414rem /* is like 24.878px */;
  --font-size-h4: 1rem /* is like 18.662px */;
  --font-small: 0.8rem /*like 10.5px*/;
  --font-size-button: 1rem;
  /* #########################################
  * buttons and icons
  * ######################################### */
  --col-bg-kiosk-version: var(--col-bg-1-lighter);
}

#more-options .kiosk-collapsible-content {
  background-color: var(--col-bg-1-lighter);
}

#subtitle-shadow {
  color: rgba(10, 10, 10, 0.045);
}

.btag-tag-list-header {
  background-color: #ac9486 !important;
}

:root {
  /* ##########################################
  * images
  * ######################################### */
  --font-size-h1: 2.427rem;
}

#maintitle {
  padding-top: 8px;
  color: var(--col-primary-bg-1);
}
@media only screen and (max-width : 500px) {
  #maintitle {
    font-size: var(--font-size-h3);
    padding-top: 0px;
  }
}

#subtitle {
  padding-bottom: 12px;
  color: var(--col-bg-3-darker);
}

#logo {
  background-color: var(--col-bg-1);
}

#logo-bottom {
  margin-left: 0.1em;
  margin-top: -0.1em;
  text-shadow: unset;
  font-family: var(--headline-text-font);
  font-weight: unset;
  font-size: 1em;
  margin-bottom: 3px;
}

#subtitle-shadow {
  display: none;
}

/*# sourceMappingURL=elri.css.map */
